<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container">
            <div class="row">
                <div class="col-10 col-lg-auto">
                    <a [routerLink]="['/']">
                        Album app
                    </a>
                </div>
                <div class="d-none d-lg-block col-lg-6">
                    <app-main-nav></app-main-nav>
                </div>
                <div class="d-lg-none col-2">
                    <button 
                        mat-icon-button aria-label="Mobilen menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>