ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    li {
        a {
            font-size: .9rem;
            font-weight: 400;
            text-transform: uppercase;
            
            &.is-active {
                text-decoration: underline;
            }

            &.is-disabled {
                pointer-events: none;
                cursor: no-drop;
                color: gray('500');
            }
        }
    }
}